.tright {
    clear: right;
    float: right;
    margin: 0.5em 0 1.3em 1.4em;
    border: 1px solid gray;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.tright img{
    padding: 10px;
    padding-bottom: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tright p{
    text-align: center;
    padding: 3px;
    font-size: 12px;
    color: #636363;
}
.tleft {
    clear: left;
    float: left;
    margin: 0.5em 1.4em 1.3em 0;
    border: 1px solid gray;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.tleft img{
    padding: 10px;
    padding-bottom: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tleft p{
    text-align: center;
    padding: 3px;
    font-size: 12px;
    color: #636363;
}

.mw-parser-output .plainlist ol,
.mw-parser-output .plainlist ul {
    line-height: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mw-parser-output .plainlist ol li,
.mw-parser-output .plainlist ul li {
    margin-bottom: 0;
}

.infobox {
    border: 1px solid #a2a9b1;
    border-radius: 5px;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
    font-size: 88%;
    line-height: 1.5em;
    width: 22em
}

.infobox-label{
    white-space:nowrap;
    padding-right:0.65em;
}

.infobox-header,.infobox-label,.infobox-above,.infobox-full-data,.infobox-data,.infobox-below,.infobox-subheader,.infobox-image,.infobox-navbar,.infobox th,.infobox td {
    vertical-align: top
}

.infobox-label,.infobox-data,.infobox th,.infobox td {
    text-align: left
}

.infobox .infobox-above,.infobox .infobox-title,.infobox caption {
    font-size: 125%;
    font-weight: bold;
    text-align: center
}

.infobox-title,.infobox caption {
    padding: 0.2em
}

.infobox .infobox-header,.infobox .infobox-subheader,.infobox .infobox-image,.infobox .infobox-full-data,.infobox .infobox-below {
    text-align: center
}

.infobox .infobox-navbar {
    text-align: right
}